*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
}

:root{
  --text-color: #44f3bf;
  --text-alternativeColor: #bcfbe8;
  --title-color:#158461;
  --text-error:#f47185;
  --background-color:#71f4e7;
}

#mainCard{
  background-color: var(--background-color);
  margin: auto;
  height: 100vh;
  max-width: 600px;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

h1{
  font-weight: 900;
  letter-spacing: -1.5px;
  text-align: center;
  color: var(--title-color);
  text-shadow: 2px 3px 5px;
}

h2{
  font-size: 15px;
  text-align: center;
}

strong{
  color: var(--title-color);
  font-weight: 900;
  font-size: 40px;
}

p{
  font-size: 15px;
  color: var(--title-color);
  letter-spacing: 2px;
}


img{
  width: 100px;
  height: 100px;
}


.info{
  padding: 30px;
}

.info div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.info input{
  width: 50%;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  border: none;
  font-weight: 900;
}

#content,#resultado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#money{
  width: 80%;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--title-color);
  font-weight: 900;
}

#btnInput{
  margin: 20px;
  width: 100%;
  padding: 5px;
  font-weight: 900;
  color: var(--text-color);
  background-color: var(--title-color);
  border: none;
  box-shadow: 5px 5px 3px;
}

#btnReset{
  margin: 20px;
  width: 100%;
  padding: 5px;
  font-weight: 900;
  color: var(--text-color);
  background-color: var(--title-color);
  border: none;
  box-shadow: 5px 5px 3px;
}

#btnInput:hover,#btnReset:hover{
  cursor: pointer;
}

#resultado{
  display: none;
  
}

.litros,.kmLitros{
  font-size: 30px;
  padding: 10px 20px;
}

.kmLitros{
  margin-top: 30px;
}

.erro{
  color: var(--text-error);
  font-size: 20px;
  text-align: center;
}